body{
    margin: 0;
}

.container {
    display: grid;
    grid-auto-columns: repeat(2, 1fr 4fr);
}

.header {
    background-color: lightcoral;
    grid-column: 2/3;
}

.sideboard {
    background-color: lightblue;
    grid-column: 1/1;
    grid-row: 1/4;
}

.article {
    background-color: lightgreen;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    gap: 15px;
}

.article .card {
    background-color: aliceblue;
    height: 200px;
    
}